<div class="nav justify-content-center bg-white border-bottom" >
  <div class="nav-item" style = "padding-top: 5px;">
    <h5 class="nav-link disabled">フォロワー一覧</h5>
  </div>
</div>
<% if @users.exists? %>
  <%= render "public/users/index", users: @users %>
<% else %>
  <p>ユーザーはいません</p>
<% end %>