
<% if @model == 'user' %>
  <div class="nav justify-content-center bg-white border-bottom" >
    <div class="nav-item pt-1">
      <h5 class="nav-link disabled">
        "<%= @content %>"の検索結果
      </h5>
    </div>
  </div>
  <% if @records.exists? %>
    <%= render 'public/users/index', users: @records %>
  <% else %>
    <h5 class = "text-center text-white mb-0">
      ユーザーは見つかりませんでした
    </h5>
  <% end %>

<% elsif @model == 'post' %>
  <div class="nav justify-content-center bg-white border-bottom" >
    <div class="nav-item pt-1">
      <h5 class="nav-link disabled">
        "<%= @content %>"の検索結果
      </h5>
    </div>
  </div>
  <% if @records.exists? %>
    <%= render 'public/posts/index', posts: @records %>
  <% else %>
    <h5 class = "text-center text-white mb-0">
      投稿は見つかりませんでした
    </h5>
  <% end %>
<% end %>