<div class="container">
  <div class="row d-flex justify-content-center">
    <%= image_tag 'anemone-fish-1496866_1280.jpg', size: "1200x500" %>

    <h4>ようこそ！</h4>
    <p>このサイトは釣りが初めての方から上級者の方まで</p>
    <p>みんなで使える釣り専用SNSです。</p>
    <p>ルールを守って楽しく利用しましょう！</p>
  </div>
</div>