<div class="jumbotron mb-0 text-white">
  <h1 class="display-4">うぉ！！</h1>
  <p class="lead">ようこそ！このサイトは日本全国の釣果情報を共有しあうSNSサイトです。</p>
  <hr class="my-4">
  <p>ルールを守って楽しく交流しましょう！</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">ゲストログイン</a>
</div>