<div class="nav justify-content-center bg-white border-bottom" >
  <div class="nav-item" style = "padding-top: 5px;">
    <h5 class="nav-link disabled">コメント一覧（<%= @post.post_comments.count %>件）</h5>
  </div>
</div>

<div class ="container">
  <div class ="row justify-content-between">
    <div class ="col-6">
      <!--コメント一覧-->
      <div id ="comment_content">
        <%= render 'public/post_comments/content', post_comments: @post_comments %>
      </div>
    </div>
    <div class ="col-5">
      <!--コメント入力フォーム-->
      <div id ="comment_form">
        <%= render 'public/post_comments/form', post: @post, post_comment: @post_comment %>
      </div>
    </div>
  </div>
</div>