.siteWrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
}

main {
  background: linear-gradient(#01D7F3, #033260);
  // background-color: #e6ffff;
  width: 100%;
  margin: 0 auto;
  flex: 1;
}

.jumbotron {
  background-image: image-url("360_F_35653140_dxFQ6mzxZ2ye4TQWzCr2ez5NqXzKomqI.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

header {
  // background-image: url(uo_logo.jpeg);
  background-color: 		#01D7F3;
}

footer {
  background-color: #033260;
}

.f-link {
  color: white ;
}

.link {
  color: #000000 ;
}