<div class="nav justify-content-center bg-white border-bottom" >
  <div class="nav-item" style = "padding-top: 5px;">
    <h5 class="nav-link disabled">いいね一覧</h5>
  </div>
</div>

<%= render 'public/posts/index', posts: @favorite_posts %>